<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>White unisex t-shirt - Susparsa</title>
  {{ 'index.css' | asset_url | stylesheet_tag }}
  {{ 'fonts.css' | asset_url | stylesheet_tag }}
  <noscript>
    <style>
      .accordion__panel {
        display: flex !important
      }
    </style>
  </noscript>
  <script src="{{ 'index.js' | asset_url }}" defer></script>
</head>
<body>
  
  {% section 'alternate-header' %}
  {{content_for_header}}
  
<main class="main" id="content">
  
  {{content_for_layout}}
</main>

  {% section 'alternate-footer' %}

<span id="aria_label_external_link" class="visually-hidden">Opens in a new window</span>

</body>
</html>